body{
    background-image: url("../img/BackgroundSplash\ 1.png");
    background-size: cover;
    margin: 0;
    font-size: 14px;
    color: #444;
}
form{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    margin-bottom: 0;
}
input{
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(35, 229, 35);
    color: rgb(35, 229, 35);
    width: 500px;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgb(35, 229, 35);
}
::placeholder{
    color: rgba(35, 229, 35,.6);
}
#logo{
    position: fixed;
    top: 10px;
    left: 50px;
}

table {
    /* background-color: rgba(255, 255, 255, 0.43); */
    width: 100%;
    box-shadow: 0 0 20px rgb(35, 229, 35);
}

th {
    background-color: #42b983;
    color: rgba(255, 255, 255, 0.66);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td {
    background-color: #f9f9f9c3;
}

th,
td {
    min-width: 120px;
    padding: 10px 20px;
}

th.active {
    color: #fff;
}

th.active .arrow {
    opacity: 1;
}
thead th{
    font-size: 1em;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
} 
tbody td{
    padding: 0;
}
tbody td div{
    padding: 10px 20px;
}
h2{
    text-align: center;
    color: #fff;
    text-shadow: 0 0 20px rgba(35, 229, 35, 0.6);
    font-family: 'Press Start 2P', cursive;

}
.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}
.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}
.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.slide-fade-enter-active {
    background-color: rgba(35, 229, 35, 0.1);
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter , .slide-fade-leave-to {
    background-color: rgba(35, 229, 35, 0.4);
    opacity: 0;
    transform: translateX(10px);
}
